@page "/"
@using System.IO
@using Blazor.FileReader
@using static Fisher.Common.Database
@using static Fisher.Common.Say
@inject IFileReaderService fileReaderService;

<h1>Hello, world!</h1>

Welcome to your new app.
<h1>@det</h1>
<input type="file" ref="inputTypeFileElement" /><button onclick="@ReadFile">Read file</button>
<SurveyPrompt Title="How is Blazor working for you?" />

@functions {
    ElementRef inputTypeFileElement;

    public async Task ReadFile()
    {
        foreach (var file in await fileReaderService.CreateReference(inputTypeFileElement).EnumerateFilesAsync())
        {
            using (var s = await file.OpenReadAsync())
            {
                Console.WriteLine("Test");
                var a = await read(s);
                Console.WriteLine(a);
            }
        }
    }
}